APP_SLUG=zyven
HTTP_PORT=3210
DB_NAME=zyven
DB_USERNAME=zyven
DB_PASSWORD=defina-uma-senha-unica
GEMINI_API_KEY=
ZYVEN_WEBAUTHN_RPID=zyven.torresoftbrasil.com.br
ZYVEN_WEBAUTHN_ORIGIN=https://zyven.torresoftbrasil.com.br
ZYVEN_AUTENTICACAO_CADASTRO_TOKEN=defina-um-segredo-unico

